{{#*inline "page"}}
    <h4>Witaj <i>{{ user.Username }}</i></h4>
    <form action="/plik" method="POST" enctype="multipart/form-data">
        <input type='file' id='myfile' name='myfile'>
        <input class='btn btn-success' type='submit' value='Wyślij'>
    </form>
    <br>
    {{#if files}}
        <div class="container">

            <ul>
                {{#each files}}
                    <li>
                        <div class="row justify-content-evenly">
                            <div class="col-sm-8">
                                <h5>
                                    <a style="color:black;"
                                       class="badge badge-{{#mod @index 2}}success{{else}}primary{{/mod}}"
                                       target="_blank"
                                       href="/get/{{ this.ID }}/{{this.Filename}}"> {{ this.Filename }}</a>
                                </h5>
                            </div>
                            <div class="col-sm-4">
                                <div class="float-right" style="display: inline;">
                                    <button class="btn btn-info">Zmień nazwę</button>
                                    <button class="btn btn-danger">Usuń</button>
                                </div>
                            </div>
                        </div>
                        {{#unless @last}}
                            <div class="row">
                                <div class="col">
                                    <hr style="height: 3px; background: black; border: 0px; opacity: 40%;">
                                </div>
                            </div>
                        {{/unless}}
                    </li>


                {{/each}}
            </ul>
        </div>

    {{else}}
        <i>
            <h6 style="color: white;">Tu będą wyświetlane twoje pliki</h6>
        </i>
    {{/if}}
{{/inline}}
{{> layout}}