{{#*inline "page"}}
    <div class="modal fade" id="modelDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Usunąć plik?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="divModalContent" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                    <a id="aModalHref" href="#" class="btn btn-danger">Usuń</a>
                </div>
            </div>
        </div>
        <script>
            function change_delete_info(filename, id)
            {
                let a = document.getElementById("aModalHref");
                a.href = "/delete/"+id;
                let div = document.getElementById("divModalContent");
                div.innerHTML = "Czy na pewno usunąć plik '<b><i>"+filename+"</i></b>'?";
                return false;
            }
        </script>
    </div>

    <h4>Witaj <i>{{ user.Username }}</i></h4>
    <form action="/plik" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-10">
                <div class="form-group custom-file mb-2">
                    <input onchange="inputFileChanged()" type='file' id='myfile' name='myfile'
                           class="custom-file-input">
                    <label id="lblMyFile" class="custom-file-label" for="myfile">Wybierz plik</label>
                </div>
            </div>
            <div class="col-2">
                <button class='btn btn-success mb-2 float-right' type='submit'>Wyślij</button>
            </div>
        </div>

    </form>
    <br>
    {{#if files}}
        <div class="container">

            <ul id="files_list">
                {{#each files}}
                    <li>
                        <div class="row justify-content-evenly">
                            <div class="col-8">
                                <h5>
                                    <a id="li_a" style="color:black;"
                                       class="badge badge-{{#mod @index 2}}success{{else}}primary{{/mod}}"
                                       target="_blank"
                                       href="/get/{{ this.ID }}/{{this.Filename}}"> {{ this.Filename }}</a>
                                </h5>
                            </div>
                            <div class="col-4">
                                <div class="float-right" style="display: inline;">
                                    <button onclick="alert('TODO')" class="btn btn-info">Zmień nazwę
                                    </button>{{! TODO Zmiana nazwy}}
                                    <button onclick="change_delete_info('{{this.Filename}}', {{this.ID}})" type="button" class="btn btn-warning"
                                            data-toggle="modal" data-target="#modelDelete">Usuń
                                    </button>{{! TODO Usuwanie}}
                                </div>
                            </div>
                        </div>
                            <hr style="height: 3px; background: black; border: 0px; opacity: 40%;">
                    </li>


                {{/each}}
            </ul>
        </div>

    {{else}}
        <i>
            <h6 style="color: white;">Tu będą wyświetlane twoje pliki</h6>
        </i>
    {{/if}}



    <section id="addtitionalSection">
        <style>
        #myfile ~ #lblMyFile::after {
            content: "Wyszukaj";
        }


        </style>
        <script>
            function inputFileChanged(){
                let filename = document.getElementById("myfile").files[0].name;
                document.getElementById('lblMyFile').innerHTML = filename;
            }


        </script>
    </section>

{{/inline}}
{{> layout}}