{{#*inline "page"}}
    <a href="/logout"><h5>{{ username }}</h5></a>
    <h5>Witaj {{ username }}!</h5>
    <form action="/plik" method="POST" enctype="multipart/form-data">
        <input type='file' id='myfile' name='myfile'>
        <input class='btn btn-success' type='submit' value='Wyślij'>
    </form>
    {{#if files}}
        <br>
        <ul>
            {{#each files}}
                <h5>
                    <li>
                        <a target="_blank" href="/get/{{ this.ID }}/{{this.Filename}}"> {{ this.Filename }}</a>
                    </li>
                </h5>
            {{/each}}
    </ul>
    {{/if}}

{{/inline}}
{{> layout}}