{{#*inline "page"}}
    <div class="modal fade" id="modelDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">placeholder</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="divModalContent" class="modal-body">
                    placeholder2
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                    <a id="aModalHref" href="#" class="btn btn-danger">Usuń</a>
                </div>
            </div>
        </div>
        <script>
            function change_delete_info(filename, id)
            {
                document.getElementById("modalTitle").innerHTML="Usunąć plik?";
                document.getElementById("divModalContent").innerHTML = "Czy na pewno usunąć plik '<b><i>"+filename+"</i></b>'?";
                let a = document.getElementById("aModalHref");
                a.href="/delete/"+id;
                a.classList.remove(a.classList[1]);
                a.classList.add("btn-danger")
                a.innerHTML="Usuń";
                a.removeAttribute("hidden", "");
                return false;
            }
            {{#if sharing_info}}
                {{#each sharing_info}}
                    function change_sharing_info{{@index}}(filename, file_id)
                    {
                        let users_info = `
                            {{#if this}}
                            <br>
                                <div class="form-row">
                                {{#each this}}
                                    <div class="col-11">
                                        <input disabled type='text' class="form-control" value="{{this.Username}}"/>
                                    </div>
                                    <div class="col-1">
                                       <a href="/delete_sharing/`+file_id+`/{{this.Username}}" style="width:37px; color: white;" class="btn btn-danger">-</a>
                                    </div>
                                {{/each}}
                                </div>
                                <br>
                            {{else}}
                                <br>
                                {{!BRAK UDOSTĘPNIANIA}}
                            {{/if}}
                            `;

                        document.getElementById("modalTitle").innerHTML="Udostępnianie";
                        document.getElementById("divModalContent").innerHTML = `
                        Dostep do pliku '<b><i>`+filename+`</i></b>':<br>` + users_info+
                        `
                            <form method='POST' action='/add_new_sharing_user?file_id=`+file_id+`'>
                                <div class="form-row">
                                    <div class="col-11">
                                        <input type='text' class="form-control" placeholder='Username' name='username'/>
                                    </div>
                                    <div class="col-1">
                                        <button style="width:37px;" class="btn btn-success" type='submit'>+</button>
                                    </div>
                                </div>
                            </form>
                        `;
                        let a = document.getElementById("aModalHref");
                        a.setAttribute("hidden", "");
                        return false;
                    }
                {{/each}}
            {{/if}}




            function change_filename_info(filename, id)
            {
                document.getElementById("modalTitle").innerHTML="Zmień nazwę pliku";
                document.getElementById("divModalContent").innerHTML = `
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nowa nazwa '<b><i>`+filename+`</i></b>':</label>
                    <input onkeyup='change_aHref_to_filename(this.value, `+id+`)' type="text" class="form-control" id="recipient-name" value='`+filename+`''>
                </div>`;
                let a = document.getElementById("aModalHref");
                a.href="/change_filename/"+filename+"/"+id;
                a.classList.remove(a.classList[1]);
                a.classList.add("btn-success");
                a.innerHTML="Potwierdź";
                a.removeAttribute("hidden", "");
                return false;
            }
            function change_aHref_to_filename(new_filename, id)
            {
                document.getElementById("aModalHref").href = "/change_filename/"+new_filename+"/"+id;
            }
        </script>
    </div>

    <h4>Witaj <i>{{ user.Username }}</i></h4>
    <form action="/plik" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-10">
                <div class="form-group custom-file mb-2">
                    <input onchange="inputFileChanged()" type='file' id='myfile' name='myfile'
                           class="custom-file-input">
                    <label id="lblMyFile" class="custom-file-label" for="myfile">Wybierz plik</label>
                </div>
            </div>
            <div class="col-2">
                <button class='btn btn-success mb-2 float-right' type='submit'>Wyślij</button>
            </div>
        </div>

    </form>
    <br>
    {{#if files_owned}}
        <div class="container">
            <h2>Twoje pliki</h2>
            <ul id="files_list">
                {{#each files_owned}}
                    <li>
                        <div class="row justify-content-evenly">
                            <div class="col-8">
                                <h5>
                                    <a id="li_a" style="color:black;"
                                       class="badge badge-{{#mod @index 2}}success{{else}}primary{{/mod}}"
                                       target="_blank"
                                       href="/get/{{ this.id }}/{{this.Filename}}"> {{ this.Filename }}</a>
                                </h5>
                            </div>
                            <div class="col-4">
                                <div class="float-right" style="display: inline;">
                                    <button onclick="change_sharing_info{{@index}}('{{this.Filename}}', {{this.id}})" type="button" class="btn btn-light"
                                            data-toggle="modal" data-target="#modelDelete">Udostępnianie
                                    </button>

                                    <button onclick="change_filename_info('{{this.Filename}}', {{this.id}})" type="button" class="btn btn-info"
                                            data-toggle="modal" data-target="#modelDelete">Zmień nazwę
                                    </button>

                                    <button onclick="change_delete_info('{{this.Filename}}', {{this.id}})" type="button" class="btn btn-warning"
                                            data-toggle="modal" data-target="#modelDelete">Usuń
                                    </button>
                                </div>
                            </div>
                        </div>
                            <hr style="height: 3px; background: black; border: 0px; opacity: 40%;">
                    </li>


                {{/each}}
            </ul>
        </div>

    {{else}}
        <i>
            <h6 style="color: white;">Tu będą wyświetlane twoje pliki</h6>
        </i>
    {{/if}}

    {{#if files_shared}}
        <br>
        <div class="container">
            <h2>Udostępnione</h2>
            <ul id="files_list_shared">
                {{#each files_shared}}
                    <li style="margin: 5px;">
                        <div class="row justify-content-evenly">
                            <div class="col-8">
                                <h5>
                                    <a target="_blank" class="badge badge-light text-dark" href="/get/{{ this.id }}/{{this.Filename}}">{{this.Filename}}</a>
                                </h5>
                            </div>
                            <div class="col-4">
                                <div class="float-right" style="display: inline;">
                                    <a href="/delete/{{this.id}}"><button  class="btn btn-warning text-dark">Wyłącz</button></a>
                                </div>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}



    <section id="addtitionalSection">
        <style>
        #myfile ~ #lblMyFile::after {
            content: "Wyszukaj";
        }


        </style>
        <script>
            function inputFileChanged(){
                let filename = document.getElementById("myfile").files[0].name;
                document.getElementById('lblMyFile').innerHTML = filename;
            }


        </script>
    </section>

{{/inline}}
{{> layout}}